@model AUSKF.Areas.Profiles.Models.FederationRegistrationViewModel

@{
    ViewBag.Title = "Index";
}

<h4>Please verify your information:</h4>
<br />

<div>
    @Html.LabelFor(m => m.FirstName)
    <div>
        @Html.DisplayFor(m => m.FirstName)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.MiddleName)
    <div>
        @Html.DisplayFor(m => m.MiddleName)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.LastName)
    <div>
        @Html.DisplayFor(m => m.LastName)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.Gender)
    <div>
        @Html.DisplayFor(m => m.Gender)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.DateOfBirth)
    <div>
        @Html.DisplayFor(m => m.DateOfBirth)
    </div>
</div>

<h4>Kendo Information:</h4>
<hr />

<div>
    @Html.LabelFor(m => m.AuskfIdNumber)
    <div>
        @Html.DisplayFor(m => m.AuskfIdNumber)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.Dojo)
    <div>
        @Html.DisplayFor(m => m.Dojo)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.Rank)
    <div>
        @Html.DisplayFor(m => m.Rank)
    </div>
</div>
 
<h4>Contact</h4>
<hr />

<div>
    @Html.LabelFor(m => m.Telephone)
    <div>
        @Html.DisplayFor(m => m.Telephone)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.Email)
    <div>
        @Html.DisplayFor(m => m.Email)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.AddressLine1)
    <div>
        @Html.DisplayFor(m => m.AddressLine1)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.AddressLine2)
    <div>
        @Html.DisplayFor(m => m.AddressLine2)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.City)
    <div>
        @Html.DisplayFor(m => m.City)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.State)
    <div>
        @Html.DisplayFor(m => m.State)
    </div>
</div>

<div>
    @Html.LabelFor(m => m.ZipCode)
    <div>
        @Html.DisplayFor(m => m.ZipCode)
    </div>
</div> 

<br />

<span>
    If any of the above is incorrect please update it via this @Html.ActionLink("link", "Edit", "MyProfile")
</span>

<hr /> 
 
<div>
    <span style="font-size:11px;">
        WAIVER: For and in consideration of my participation in the practice of Kendo and all other activities of the Midwest Kendo Federation, I, for myself, my executors, administrators, and assigns do hereby release and agree not to sue the Midwest Kendo Federation, its officers, instructors, and administrators; the All United States Kendo Federation, its officers, instructors, and administrators; fellow participants; other clubs or dojos; third party organizations including but not limited to sponsors, and those allowing the use of their premises for Midwest Kendo Federation activities, jointly and/or severally, and hold and save them harmless from and against any and all actions, claims, liabilities, loss, damage, expense of whatever nature, including attorney fees, which may at any time be incurred by reason of my participation or my preparation in Midwest Kendo Federation sponsored activities, or traveling to and from said activities. I attest and verify that I have full knowledge of risks involved in Kendo and am physically fit and able to participate.
    </span>
</div>
   
<br />

<div class="form-group">
    @Html.LabelFor(m => m.AuthorizedElectronicSignature, new { @class = "col-md-6 control-label" })
    <div> 
        @Html.RadioButtonFor(m => m.AuthorizedElectronicSignature, new { @class = "col-md-6 control-label", @value = "Authorized Electronic Signature" }) Authorized Electronic Signature
    </div>
</div>

 <div class="form-group">
    @Html.LabelFor(m => m.ElectronicSignature, new { @class = "col-md-6 control-label" })
    <div>
        @Html.TextBoxFor(m => m.ElectronicSignature, new { @class = "col-md-6 control-label" })
    </div>
</div>

<br />
<br />
 
<div class="form-group">
    <label class="col-md-6 control-label">MWKF Dues</label>
    <div class="col-md-6 control-label">
        <ul>
            <li>
                Adult
                <b>$80.00</b>
            </li>
            <li>
                17 under and 65 and over
                <b>$50.00</b>
            </li>
            <li>
                Iaido
                <b>$55.00</b>
            </li>
        </ul>
    </div>
</div> 

<br />

<div>
    <span style="font-size:11px;"> 
         An electronic signature is a certification by you that may be used in lieu of a written signature. By clicking the above button and typing your name, you are electronically certifying this document as you would if you physically signed it on paper.
    </span>
</div>
 
<br />

 <div>
    <span class="pspan trebuchet" style="font-size:11px;">
        <span class="ispan" style="text-decoration:underline;">
            Clicking
        </span>
        <span class="ispan" style="font-weight:bold;font-style:italic;text-decoration:underline;">
            Proceed to Checkout
        </span>
        <span class="ispan" style="text-decoration:underline;">
            will SUBMIT the form and you will be redirected to the Paypal website. From the website you can either pay through your paypal account or use a credit card to pay your dues.
        </span>
    </span>      
 </div>
    
<br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div style="float:left; margin-top: 8px;"> 
            <input style="outline: none;" class="paypal-button" type="image" src="https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif">
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </div>
</div>