@model AUSKF.Areas.Profiles.Models.FederationRegistrationViewModel

@{
    ViewBag.Title = "Index";
}

<h4>Please verify your information:</h4>
<br />

<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    <div>
        @Model.FirstName Travis
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
    <div>
        @Model.MiddleName Lee
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    <div>
        @Model.LastName Stronach
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
    <div>
        @Model.Gender Male
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
    <div>
        @Model.DateOfBirth 02/06/1982
    </div>
</div>

<br />
<h4>Kendo Information:</h4>
<hr />

<div class="form-group">
    @Html.LabelFor(m => m.AuskfIdNumber, new { @class = "col-md-2 control-label" })
    <div>
        @Model.AuskfIdNumber 6035
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Dojo, new { @class = "col-md-2 control-label" })
    <div>
        @Model.Dojo Minnehaha Kendo Dojo
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Rank, new { @class = "col-md-2 control-label" })
    <div>
        @Model.Rank godan
    </div>
</div>

<br />
<h4>Contact</h4>
<hr />

<div class="form-group">
    @Html.LabelFor(m => m.Telephone, new { @class = "col-md-2 control-label" })
    <div>
        @Model.Telephone 608-217-7270
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div>
        @Model.Email  aasdfasdf
    </div>
</div>
   
<br />
<h4>Personal Address:</h4>
<hr />

<div class="form-group">
    @Html.LabelFor(m => m.AddressLine1, new { @class = "col-md-2 control-label" })
    <div>
        @Model.AddressLine1 3226 E 53rd St
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AddressLine2, new { @class = "col-md-2 control-label" })
    <div>
        @Model.AddressLine2 131
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
    <div>
        @Model.City Minneapolis
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
    <div>
        @Model.State MN
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
    <div>
        @Model.ZipCode 55417
    </div>
</div>

<br />

<span>
    If any of the above is incorrect please update it via this @Html.ActionLink("link", "index", "MyProfile")
</span>

<hr /> 
 
<div>
    <span style="font-size:11px;">
        WAIVER: For and in consideration of my participation in the practice of Kendo and all other activities of the Midwest Kendo Federation, I, for myself, my executors, administrators, and assigns do hereby release and agree not to sue the Midwest Kendo Federation, its officers, instructors, and administrators; the All United States Kendo Federation, its officers, instructors, and administrators; fellow participants; other clubs or dojos; third party organizations including but not limited to sponsors, and those allowing the use of their premises for Midwest Kendo Federation activities, jointly and/or severally, and hold and save them harmless from and against any and all actions, claims, liabilities, loss, damage, expense of whatever nature, including attorney fees, which may at any time be incurred by reason of my participation or my preparation in Midwest Kendo Federation sponsored activities, or traveling to and from said activities. I attest and verify that I have full knowledge of risks involved in Kendo and am physically fit and able to participate.
    </span>
</div>
   
<br />

<div class="form-group">
    @Html.LabelFor(m => m.AuthorizedElectronicSignature, new { @class = "col-md-6 control-label" })
    <div> 
        @Html.RadioButtonFor(m => m.AuthorizedElectronicSignature, new { @class = "col-md-6 control-label", @value = "Authorized Electronic Signature" }) Authorized Electronic Signature
    </div>
</div>

 <div class="form-group">
    @Html.LabelFor(m => m.ElectronicSignature, new { @class = "col-md-6 control-label" })
    <div>
        @Html.TextBoxFor(m => m.ElectronicSignature, new { @class = "col-md-6 control-label" })
    </div>
</div>

<br />
<br />
 
<div class="form-group">
    <label class="col-md-6 control-label">MWKF Dues</label>
    <div class="col-md-6 control-label">
        <ul>
            <li>
                Adult
                <b>$80.00</b>
            </li>
            <li>
                17 under and 65 and over
                <b>$50.00</b>
            </li>
            <li>
                Iaido
                <b>$55.00</b>
            </li>
        </ul>
    </div>
</div> 

<br />

<div>
    <span style="font-size:11px;"> 
         An electronic signature is a certification by you that may be used in lieu of a written signature. By clicking the above button and typing your name, you are electronically certifying this document as you would if you physically signed it on paper.
    </span>
</div>
 
<br />

 <div>
    <span class="pspan trebuchet" style="font-size:11px;">
        <span class="ispan" style="text-decoration:underline;">
            Clicking
        </span>
        <span class="ispan" style="font-weight:bold;font-style:italic;text-decoration:underline;">
            Proceed to Checkout
        </span>
        <span class="ispan" style="text-decoration:underline;">
            will SUBMIT the form and you will be redirected to the Paypal website. From the website you can either pay through your paypal account or use a credit card to pay your dues.
        </span>
    </span>      
 </div>
    
<br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div style="float:left; margin-top: 8px;"> 
            <input style="outline: none;" class="paypal-button" type="image" src="https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif">
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </div>
</div>