@model AUSKF.Areas.Profiles.Models.MyProfileViewModel

@{
    ViewBag.Title = "My Profile";
}

<h2>@ViewBag.Title</h2>

<h2>@ViewBag.EditResult</h2>
 
    @Html.AntiForgeryToken()
 
    <div>
        @Html.LabelFor(m => m.FirstName)
        <div>
            @Html.DisplayFor(m => m.FirstName)
        </div>
    </div>
 
    <div>
        @Html.LabelFor(m => m.MiddleName)
        <div>
            @Html.DisplayFor(m => m.MiddleName)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.LastName)
        <div>
            @Html.DisplayFor(m => m.LastName)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.Gender)
        <div>  
            @Html.DisplayFor(m => m.Gender)  
        </div>
    </div> 

    <div>
        @Html.LabelFor(m => m.DateOfBirth)
        <div>
            @Html.DisplayFor(m => m.DateOfBirth)
        </div>
    </div>

    <h4>Kendo Information:</h4>
    <hr />

    <div>
        @Html.LabelFor(m => m.AuskfIdNumber)
        <div> 
            @Html.DisplayFor(m => m.AuskfIdNumber)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.Dojo)
        <div>
            @Html.DisplayFor(m => m.Dojo)
        </div>
    </div>  

    <div>
        @Html.LabelFor(m => m.Rank)
        <div>
            @Html.DisplayFor(m => m.Rank)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.MyFederation)
        <div>
            @if (!string.IsNullOrEmpty(Model.MyFederation))
            {
                @Html.DisplayFor(m => m.MyFederation, new { @class = "form-control" })
            }
            else
            {
                //TODO: TLS - Create FederationRegistration
                @Html.ActionLink("Register", "index", "FederationRegistration")
            }
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.IsAuskfRegistered)
        <div>
            @if (Model.IsAuskfRegistered)
            {
                 <span>Currently Registered</span>
            }
            else
            {
                //TODO: TLS - Create FederationRegistration
                @Html.ActionLink("Register", "Register", "FederationRegistration")
            }
        </div>
    </div>

    <h4>Contact</h4>
    <hr />

    <div>
        @Html.LabelFor(m => m.Telephone)
        <div>
            @Html.DisplayFor(m => m.Telephone)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.Email)
        <div>
            @Html.DisplayFor(m => m.Email)
        </div>
    </div>
   
    <div>
        @Html.LabelFor(m => m.AddressLine1)
        <div>
            @Html.DisplayFor(m => m.AddressLine1)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.AddressLine2)
        <div>
            @Html.DisplayFor(m => m.AddressLine2)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.City)
        <div>
            @Html.DisplayFor(m => m.City)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.State)
        <div>
            @Html.DisplayFor(m => m.State)
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.ZipCode)
        <div>
            @Html.DisplayFor(m => m.ZipCode)
        </div>
    </div> 
  
    @Html.ActionLink("Edit", "Edit")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

 