@using System.Data.SqlTypes
@model AUSKF.Domain.Entities.Identity.User

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.FirstName @Model.MiddleName @Model.LastName</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic" src="~/Content/Images/Muga-Kendo-Helmet.png" height="300" width="400" class="img-circle img-responsive">
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Email:</td>
                                    <td>@Html.DisplayFor(model => model.Email)</td>
                                </tr>
                                <tr>
                                    <td>AUSKFID</td>
                                    <td>@Html.DisplayFor(model => model.AuskfId)</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    @if (Model.DateOfBirth == (DateTime)SqlDateTime.MinValue)
                                    {
                                        <td>Not listed.</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(model => model.DateOfBirth, "Age")</td>
                                    }
                                </tr>

                                <tr>
                                    <td>Phone Number:</td>
                                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                                </tr>
                            </tbody>
                        </table>

                        @*<a href="#" class="btn btn-primary">My Sales Performance</a>
                            <a href="#" class="btn btn-primary">Team Sales Performance</a>*@
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
                <span class="pull-right">
                    <a href="~/Admin/User/Edit?userId=@Model.Id" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Promotions</h3>
            </div>
            <div class="panel-body">
                @foreach (var item in Model.Promotions)
                {
                    <div class="col-xs-8">
                        Promotion Date: @Html.DisplayFor(model => item.RankDate, "ShortDateTime")
                        Rank: @item.RankListed
                    </div>
                }
            </div>

            <div class="panel-footer">
            </div>

        </div>
    </div>
</div>
<div class="row">
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>