@using AUSKF.Domain
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink(Common.MyProfile, "Index", new
           {
               Area = "Profiles",
               Controller = "MyProfile"
           })
        </li>

        using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()


        <li style="color: #9d9d9d; padding: 15px 15px; line-height: 20px;">
            <i class="glyphicon glyphicon-user"></i> @Html.Raw(Common.Hello + User.Identity.GetUserName() + "!") <span class="caret"></span>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>

        }
    </ul>
}
else
{
    <ul class="nav navbar-nav">

        <li>
            @Html.ActionLink(Common.Register, "Register", "Account", routeValues: new
       {
           area = ""
       }, htmlAttributes: new
       {
           id = "registerLink"
       })
        </li>
        <li>
            @Html.ActionLink(Common.Log_In, "Login", "Account", routeValues: new
       {
           area = ""
       }, htmlAttributes: new
       {
           id = "loginLink"
       })
        </li>
    </ul>
}

