@using AUSKF.Domain
<!DOCTYPE html>
<html ng-app="auskf">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title - @Common.KendoFederation</title>
    @Styles.Render("~/Content/css/flatly")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @Html.Partial("_NavPartial")


    <div class="container  body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container">
            <img src="/content/images/copyright.gif" alt="copyright" />
            <p class="small">@Common.FooterText </p>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        !function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
