@using AUSKF.Domain
<div class="header">
    <img src="/content/images/logo.gif" alt="auskf logo">

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink(Common.NameHeaderText, "Index", "Home", new
                {
                    area = ""
                }, new
                {
                    @class = "navbar-brand"
                })
            </div>
            <div>

                <ul class="nav navbar-nav">

                    <li>
                        @Html.ActionLink(Common.NewsEvents, "Index", new
                        {
                            Area = "News",
                            Controller = "Home"
                        })
                    </li>
                    <li>
                        @Html.ActionLink(Common.FederationListings, "Index", new
                       {
                            Area = "",
                            Controller = "FederationList"
                       })
                    </li>
                    <li>
                        @Html.ActionLink(Common.DojoListings, "Index", new
                        {
                            Area = "",
                            Controller = "DojoList"
                        })
                    </li>
                    <li>
                        @Html.ActionLink(Common.Forms, "Index", new
                        {
                            Area = "Forms",
                            Controller = "Home"
                        })
                    </li>
                    <li>
                        @Html.ActionLink(Common.Officers, "Index", new
                        {
                            Area = "Officers",
                            Controller = "Home"
                        })
                    </li>
                    <li>
                        @Html.ActionLink(Common.ContactUs, "Contact", new
                        {
                            Area = "",
                            Controller = "Home"
                        })
                    </li>
                </ul>
                @Html.Partial("_BootstrapLogin")
            </div>
        </div>
    </div>
</div>
