@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("vol18no2.pdf", "GetNewsLetter")
    Vol. 18 No. 2 (Nov, 2015)
</p>
<p>@Html.ActionLink("vol18no1.pdf", "GetNewsLetter")Vol. 18 No. 1 (Apr, 2015)</p>
<p>
    @Html.ActionLink("vol17no2.pdf", "GetNewsLetter") Vol. 17 No. 2(Oct, 2014)
</p>
<p>@Html.ActionLink("vol17no1.pdf", "GetNewsLetter") Vol. 17 No. 1(Jan, 2014)</p>
<p>@Html.ActionLink("vol16no2.pdf", "GetNewsLetter") Vol. 16 No. 2(Oct, 2013)</p>
<p>@Html.ActionLink("vol16no1.pdf", "GetNewsLetter") Vol. 16 No. 1(Jan, 2013)</p>
<p>@Html.ActionLink("vol15no2.pdf", "GetNewsLetter") Vol. 15 No. 2(Aug, 2012)</p>
<p>@Html.ActionLink("vol15no1.pdf", "GetNewsLetter") Vol. 15 No. 1(Jan, 2012)</p>
<p>@Html.ActionLink("vol14no1.pdf", "GetNewsLetter") Vol. 14 No. 1(June, 2011)</p>
<p>@Html.ActionLink("vol13no2.pdf", "GetNewsLetter") Vol. 13 No. 2(December, 2010)</p>
<p>@Html.ActionLink("vol13no1.pdf", "GetNewsLetter") Vol. 13 No. 1(June, 2010)</p>
<p>@Html.ActionLink("vol12no3.pdf", "GetNewsLetter") Vol. 12 No. 3(December, 2009)</p>
<p>@Html.ActionLink("vol12no2.pdf", "GetNewsLetter") Vol. 12 No. 2(May, 2009)</p>
<p>@Html.ActionLink("correction-vol12no1.pdf", "GetNewsLetter") Vol. 12 No. 1(correction letter)</p>
<p>@Html.ActionLink("vol11no2.pdf", "GetNewsLetter") Vol. 11 No. 2(May, 2008) </p>
<p>@Html.ActionLink("vol11no1.pdf", "GetNewsLetter") Vol. 11 No. 1(January, 2008) </p>
<p>@Html.ActionLink("vol10no2.pdf", "GetNewsLetter") Vol. 10 No. 2(May, 2007) </p>
<p>@Html.ActionLink("vol10no1.pdf", "GetNewsLetter") Vol. 10 No. 1(January, 2007) </p>
<p>@Html.ActionLink("vol9no1.pdf", "GetNewsLetter") Vol. 9 No. 1(May, 2006) </p>
<p>@Html.ActionLink("vol8no2.pdf", "GetNewsLetter") Vol. 8 No. 2(December, 2005)</p>
<p>@Html.ActionLink("vol8no1.pdf", "GetNewsLetter") Vol. 8 No. 1(May, 2005) </p>
<p>
    @Html.ActionLink("vol7no3.pdf", "GetNewsLetter") Vol. 7 No.
    @Html.ActionLink("vol7no3.pdf", "GetNewsLetter") 3(December, 2004)
</p>
<p>
    @Html.ActionLink("vol7no2.pdf", "GetNewsLetter") Vol. 7
    @Html.ActionLink("vol7no2.pdf", "GetNewsLetter")  No. 2(May, 2004)
</p>
<p>@Html.ActionLink("vol7no1.pdf", "GetNewsLetter") Vol. 7 No. 1(February, 2004) </p>
<p>@Html.ActionLink("vol6no1.pdf", "GetNewsLetter") Vol. 6 No. 1(July, 2003) </p>
<p>@Html.ActionLink("vol5no2.pdf", "GetNewsLetter") Vol. 5 No. 2(December, 2002)</p>
<p>@Html.ActionLink("vol5no1.pdf", "GetNewsLetter") Vol. 5 No. 1(June, 2002) </p>
<p>@Html.ActionLink("vol4no2.pdf", "GetNewsLetter") Vol. 4 No. 2(November, 2001)</p>

<p>
    These newsletters are available in PDF format which must be viewed
    with the <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe Acrobat Reader</a>.
</p>
<p><img src="~/Content/Images/newsletter.jpg" width="300" height="389"></p>